aiocontextvars==0.2.2
alembic==1.0.9
asyncpg==0.18.3
contextvars==2.4
gino==0.8.2
immutables==0.9
Mako==1.0.9
MarkupSafe==1.1.1
psycopg2==2.8.2
python-dateutil==2.8.0
python-editor==1.0.4
six==1.12.0
SQLAlchemy==1.3.3
